body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li{
    list-style: none;
    margin-right: 100 px;
}

a {
    text-decoration: none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
