body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li{
    list-style: none;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
 
header {
    background: linear-gradient(rgba(84,93,220,.9), rgba(96,171,245,.9)), url(../imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
}

#contenedor-titulo-flex {
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580px;
    width: 100%;
}
h1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0;
}

h2 {
    font-size: 25px;
    color: #ffffff;
}

.contenedor-titulo{
    text-align: center;
}

.contenedor-titulo a, #sobre-mi a {
    font-size: 14px;
    color: #ffffff;
    background: #5cb8ff;
    padding: 14px 24px;
    width: 128px;
    display: inline-block;
}

p.logo {
    color: #ffffff;
    font-size: 20px;
}

.lista-menu {
    color: #ffffff;
    font-size: 18px;
}
/*SECCIÓN SOBRE MÍ */
h3 {
    text-align: center;
    font-size: 53px;
    font-weight: normal;
}
#sobre-mi .contenedor-sobremi {
    display: flex;
    justify-content: space-around;
}

#sobre-mi .texto {
    width: 42%;
}

/*SECCIÓN SERVICIOS*/
.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
}

.servicio {
    width: 24%;
}

.servicio h4 {
    font-size: 30px;
    margin:0;
}

.servicio p {
    margin-bottom: 20px;
    height: 194px;
}
